<div class="section-inner">
  <h2 class="heading"><%= I18n.t("home.title") %></h2>
  <div class="content">
    <p><%= I18n.t("home.about_1") %></p>
    <p><%= I18n.t("home.about_2")%></p>
  </div>
</div>