<section class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <h1 id="author">Douglas Rossignolli</h1>
    <h3>Backend Developer @ Kanamobi</h3>
    <hr>
    <h4>Skills</h4>

    <ul style="list-style: none;">
      <li><strong>Ruby and Gems</strong></li>
      <li>Rails</li>
      <li>Rspec</li>
      <li>Rails API</li>
      <li>Paperclip</li>
      <li>Carrier Wave</li>
      <li>HTTParty</li>
      <li>Aws-Sdk</li>
      <li>Rufus Scheduler</li>
      <li>Redis</li>
      <li>Resque</li>
      <li>Resque-Mailer</li>
      <li>Resque-Scheduler</li>
      <li>Grape</li>
      <li>Mongoid</li>
      <li><strong>Server and Deploy</strong></li>
    </ul>


  </div>
</section>


<!-- Servers
 OS: Ubuntu, Debian
 Auto-Deploy: Heroku, DigitalOcean
 VPS: Linode, AWS, etc.

Experiências:
 - Levantamento de Dados (Engenharia de Software) - Nível Pleno
 - Modelagem de Dados (Engenharia de Software) - Nível Pleno
 - Modelagem de Banco de Dados(Oralcle, MySQL) - Nível Pleno
 - SCRUM - Nível Básico

Especialidades:
 - Desenvolvimento de aplicações e API para a web
 - Uso de cloud e integrações com APIs
 - Desenvolvimento de serviços fornecido por API


Linguagens de Programação:
  - Ruby - Especialista (3 Anos de Experiência) 
  - PHP - Avançado (2 Anos de Experienência)
  - Java - Acadêmico 

  Conhecimentos:
    - Orientação a Objeto
    - Funcional / Clojures
    - Patterns
    - Frameworks
    - ORM

  Frameworks
    - RubyGems


    - JAVA
      - JBoss
      - EJB
      - JSF 2.1
      - PrimeFaces
      - MVC
      - JPA
      - Hibernate
      - Servelet
      - JSP
      - Groovy
      - Grails 

  Design de Interfaces
    - HTML 5
    - CSS 3
    - Less
    - Sass
    - BoilerPlane
    - Bootstrap
    - Tabless

    - JavaScript
      - JQuery
      - Sammy
      - ModelJS
      - CoffeScript
      - OOP -->
