.input_h2 {
  font-weight: 500;
  font-size: 30px;
  font-family: 'Roboto Condensed';
  line-height: 1.1em;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 2px;
  border:0;
  border-bottom: solid 1px #DFDFDF;
  width: 100%;
  padding: 0 0 3px 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.input_small {
  font-weight: 300;
  font-size: 14px;
  font-family: 'Roboto Condensed';
  line-height: 1.1em;
  height: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
  border:0;
  width: 100%;
  padding: 0 0 3px 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}