/*
 * Aligns
 */

.center {
  text-align: center;
}

.just {
  text-align: justify;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/*
 * Text Box
 */
.sts-draft {
  padding: 5px 10px;
  color: #fff;
  background: #b0b0b0;
  border-radius: 5px;
  display: inline-block;
  width: 100px;
}

/*
 * Subjects
 */

.principal {
  @extend .center;
  font-weight: 900;
  color: #D25142;
  text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
  letter-spacing: 13px;
  text-transform: uppercase;
  font-size: 50px;
  cursor: pointer;

  a:hover {
    color: #FF896C;
  }

  &:hover {
    color: #FF896C;
  }
}

.hand {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 20px;
  color: #D25142;
  text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
  letter-spacing: 13px;
  text-transform: uppercase;
}

.post {
  font-family: 'Roboto Condensed', sans-serif;
  color: #F15766;
  text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
  font-size: 35px;
  font-weight: 400;
}

.aside {
  font-family: 'Roboto Condensed', sans-serif;
  color: #F15766;
  text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
  font-size: 25px;
  font-weight: 300;
}

#author {
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  color: #D25142;
  text-shadow: 0.05em 0.075em 0 rgba(0,0,0,0.1);
  letter-spacing: 13px;
  text-transform: uppercase;
  font-size: 40px;

}

.personal_skill {
  font-weight: 300;
  color: #7E0005;
  margin-bottom: 20px;
}

.personal_sub_skill {
  font-weight: 700;
  color: #C70009;
}

.list_skills {
  list-style: none;
  padding-left: 0px;
  li {
    margin: 0;
    padding: 0;
    font-weight: 300;
    list-style-type: none;
  }
  li.title {
    font-size: 16px;
    font-weight: 700;
    padding-left: 23px;
  }

  li.sub {
    padding: 10px 0;
  }
}


@media (max-width: 768px) {
  .principal {
    font-size: 40px;
  }
} 