#nav {
  margin: 50px 0 25px 0;
  text-align: center; }
  #nav ul li {
    font-size: 20px;
    display: inline-block;
    margin: 0 25px; }
    #nav ul li i {
      box-shadow: 0.125em 0.1em 0 rgba(0, 0, 0, 0.2); }
    #nav ul li .icon {
      background-color: #D25142;
      color: #fff;
      border-radius: 15px;
      padding: 5px;
      margin-right: 5px; }
    #nav ul li a {
      text-decoration: none;
      color: #777; }
    #nav ul li:hover .icon {
      background-color: #FF896C; }

#nav_social {
  margin: 25px 0 50px 0;
  text-align: center; }
  #nav_social ul li {
    font-size: 20px;
    display: inline-block;
    margin: 0 25px; }
    #nav_social ul li i {
      box-shadow: 0.125em 0.1em 0 rgba(0, 0, 0, 0.2); }
    #nav_social ul li .icon {
      background-color: #D25142;
      color: #fff;
      border-radius: 15px;
      padding: 5px;
      margin-right: 5px; }
    #nav_social ul li a {
      text-decoration: none;
      color: #777; }
    #nav_social ul li:hover .icon {
      background-color: #FF896C; }
