/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require sb-admin.css
 *= require morrisjs
 *= require fontawesome
 *= require_tree ./utils
 *= require_tree ./helpers
 */

 @import url(http://fonts.googleapis.com/css?family=Arvo:700|Source+Code+Pro|Roboto+Condensed:700,300,400);

 #page-wrapper {
  overflow: hidden;
 }

.inside_margeagle_tb {
  padding: 20px 0;
}

.outside_margeagle_tb {
  margin: 20px 0;
}

.block {
  display: block;
}