<!doctype html>

<html lang="en">
  <head>
    <title>Douglas Rossignolli - Resume - Ruby Everyday</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="The Ruby-Everyday is a blog that contans articles, papers, posts about programing with ruby language, javascript and HTML">
    <meta name="author" content="Douglas Rossignolli">
    <meta name="description" content="" />
    <meta name="keywords" content="ruby programing javascript html css api" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5187f3513b511b48" async="async"></script>
  </head>
  <body>
    <div class="container">
      <div><%= yield %></div>
    </div>
  </body>
</html>